/*Version 2*/
body {
    font-family: 'Times New Roman', sans-serif;
    background: #eaeaea;
}

p {
    font-family: 'Times', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.logo{
	background: none;
	border: none;
}

.nav-tabs>li>a:hover {
	background-color:#BEBEBE;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff !important;
    background-color: #ff0000 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #BE211A;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	background: #BE211A;
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-btn:hover {
	background: #FF0000;
}

.navbar-btn:focus {
	background: #BE211A;
}

.navbar-btn:active {
	background: #FF0000;
}

.navbar-btn:active:focus {
	background: #ff0000;
}

.navbar-btn:target {
	background: #FF0000;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #be221a;
    border-color: #be221a;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #BE211A; /*DC143C*/
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ff0000; /*#6d7fcc*/
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ff0000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #FFFFFF; /*#7386D5 */
    background: #DC143C;
}

#sidebar ul li.active > a, #sidebar ul li.active > a a[aria-expanded="true"] {
    color: #fff;
    background: #ff0000; /*#6d7fcc */
}


#sidebar ul li a[data-toggle="collapse"] {
    position: relative;
}

#sidebar ul li a[aria-expanded="false"]::before, #sidebar ul li a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
#sidebar ul li a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #FE0101;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5; 
}

a.article, a.article:hover {
    background: #ff0000 !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}